<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
  </head>
  <body>
      <h1>Welcome to the Ultimate Pig Website</h1>
  <img src="http://kids.nationalgeographic.com/content/dam/kids/photos/animals/Mammals/H-P/pig-young-closeup.jpg.adapt.945.1.jpg"/>
  
  <form method="POST" action="/results">
      <p>Please enter a message</p><input type="text" name="sentence">
      <input type="submit">
  </form>
  
  </body>
</html>